@keyframes opacityIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.view-enter-active {
  animation-name: opacityIn;
  animation-duration: 0.3s;
}

.view-leave-active {
  animation-name: opacityOut;
  animation-duration: 0.3s;
}
