html,
body {
  font-size: 12px;
  font-family: Poppins-Regular;

  * {
    flex: 0 0 auto;
    word-break: break-word;
    scrollbar-width: none !important;
    box-sizing: border-box !important;
    -ms-overflow-style: none !important;
    overflow: -moz-scrollbars-none !important;
  }

  *::-webkit-scrollbar {
    width: 0px !important;
    display: none !important;
  }
}
