@font-face {
  src: url("./Arame/Arame.ttf");
  font-family: "Arame";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("./Inter/Inter-Black.ttf");
  font-family: "Inter-Black";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("./Inter/Inter-Bold.ttf");
  font-family: "Inter-Bold";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("./Inter/Inter-ExtraBold.ttf");
  font-family: "Inter-ExtraBold";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("./Inter/Inter-ExtraLight.ttf");
  font-family: "Inter-ExtraLight";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("./Inter/Inter-Light.ttf");
  font-family: "Inter-Light";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("./Inter/Inter-Medium.ttf");
  font-family: "Inter-Medium";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("./Inter/Inter-Regular.ttf");
  font-family: "Inter-Regular";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("./Inter/Inter-SemiBold.ttf");
  font-family: "Inter-SemiBold";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("./Inter/Inter-Thin.ttf");
  font-family: "Inter-Thin";
  font-weight: normal;
  font-style: normal;
}
